<!DOCTYPE html>
<html lang="en">
<style>
    body {
            font-family: Arial, sans-serif;
            background-image: url('bitcoin.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    
    p {
        padding-right: 900px;
        text-align: center;
        text-align-last: center;
        padding-top: 280px;
        font-size: 50px;
        color: white;
    }
</style>

<head>
    <title>Sell</title>
</head>

<body>
    <p>Sell!</p>
</body>

</html>
